.body_backgorund 
{
    background-image:url(backg.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
    border-color: darkviolet;
}

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
}
#title_img{
   width: 700px;
   height:150px;
   border-width: 10PX;
   border-style: ridge;
   border-color: darkviolet; 

}